In [1]:
!python --version

Python 3.9.13

In [2]:
7/5

1.4

In [3]:
7//5

1

In [4]:
7*4

28

In [5]:
2**4

16

In [6]:
5%2

1

In [7]:
10/5

2.0

In [8]:
10//5

2

In [9]:
13%4

1

In [10]:
print("Hello man!")
print('Hello man!')
print("""Hello man!""")
print('''Hello man!''')
print('Hello\' man!')
print("""Hello 
man!""")
print('Hello \n man!')

Hello man!
Hello man!
Hello man!
Hello man!
Hello' man!
Hello
man!
Hello
 man!

In [11]:
print("""This is
a very
long string""")

This is
a very
long string

In [12]:
print('This is
      very long string')

SyntaxError: EOL while scanning string literal (3292705291.py, line 1)

In [13]:
len(Hello world!)

SyntaxError: invalid syntax (2088603220.py, line 1)

In [14]:
len('Hello world!')

12

In [15]:
concat('ram','anand')

NameError: name 'concat' is not defined

In [16]:
'ram'+'anand'

'ramanand'

In [17]:
ram+anand

NameError: name 'ram' is not defined

In [18]:
"""ram"""+"""anand"""

'ramanand'

In [19]:
type(Hello)

NameError: name 'Hello' is not defined

In [20]:
type("Hello")

str

In [22]:
type('Hello')
type(5)
type(5.6)
type(-4)
type(True)
type(6j)

complex

In [64]:
print(type('Hello'))
print(type(5))
print(type(5.6))
print(type(-4))
print(type(True))
(type(6j))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>

complex

In [24]:
a=type('Hello')
print(a)

<class 'str'>

In [29]:
avg(4,7,23,56,57)

NameError: name 'avg' is not defined

In [39]:
import math
math.sqrt(35)
#help(math)

5.916079783099616

In [45]:
salary=200;
expense=100
saving=salary-expense
print(saving)
print(salary-expense)
print("my saving is:", saving)
print(f'I saved {saving} rupees!')
print('I saved {} rupees!'.format(saving))
print(f'I saved {saving} \n rupees!')
print(f'I saved {saving} \t rupees!')

100
100
my saving is: 100
I saved 100 rupees!
I saved 100 rupees!
I saved 100
 rupees!
I saved 100 	 rupees!

In [59]:
x=True
y=False
print(x or y)
print(x and y)
print(not x)
print(not y)
x=not x
y=not y
print(x,y)
type(True)
z=x+y
print(x)
print(f"x is {x} and y is {y}")
print("x or y is", x or y)

True
False
False
True
False True
False
x is False and y is True
x or y is True

In [65]:
x="awesome"
print("python is ",x)

python is  awesome

In [124]:
import numpy
import pandas
test_df=pandas.DataFrame({'Names':['Ram','Shyam']})
# test_df.values
test_df1=pandas.DataFrame({'ProductID':[1,2,3,4],'ProductName':['LEDTV','Printer','Split AC','Microwave'],'Cost':[32990,	
5990,32050,12670],'ShippingLocation':['Delhi','Delhi','Pune','Mumbai'],'SellerName':['ABC Pvt',	
'ABC Pvt','XY Corp','PQ Corp']})
# print(test_df1)
# test_df1[['ShippingLocation','SellerName']]
# test_df1.iloc[[2,3]]   #- one row value is coming as series, more than one as DataFrame
# test_df1.iloc[:,:4]

# test_df1=test_df1.set_index('ProductName')

# # test_df1
# test_df1.loc['LEDTV']
[test_df1['Cost']>30000]
test_df1[test_df1['Cost']>30000]
# test_df1[(test_df1['Cost']>=30000) | (test_df1['ShippingLocation']=='Delhi') ]

test_df1[~(test_df1['Cost']>30000)]

#renaming of columns
test_df1=test_df1.rename(columns={'Cost':'Price','ShippingLocation':'Destination'})

test_df1

test_df1['No of Products']=[2,6,4,7]

test_df1=test_df1.replace(2,3)
test_df1

# test_df2=test_df1.groupby('SellerName')

# regiment_preScore =test_df1.groupby(['SellerName','Destination']).count() # need an aggregator for output of data

test_df1.corr()

C:\Users\vivek.kishore\AppData\Local\Temp\ipykernel_924\2994285086.py:37: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  test_df1.corr()

                ProductID     Price  No of Products
ProductID        1.000000 -0.627622        0.870572
Price           -0.627622  1.000000       -0.890895
No of Products   0.870572 -0.890895        1.000000